<section class="container">
  <div class="col-md-12">
    <form class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <!-- {{checkout.title}}
          {{checkout.name}}
          {{checkout.lastNamte}}
          {{checkout.phone}}
          {{checkout.email}} -->
          <p>Titulo:</p>
          <input type="text" class="form-control" name="title" [(ngModel)]="checkout.title">
        </div>
        <div class="col-md-4">
          <p>Nome:</p>
          <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="checkout.name">
        </div>
        <div class="col-md-4">
          <p>Sobrenome:</p>
          <input type="text" class="form-control" placeholder="Sobrenome" [(ngModel)]="checkout.LastName">
        </div>
        <div class="col-md-4">
          <p>Telefone</p>
          <input type="text" class="form-control" placeholder="Telefone" [(ngModel)]="checkout.phone">
        </div>
      </div>
      <div class="col-md-6">
        <p>Email:</p>
        <input type="text" class="form-control" placeholder="digite um email" [(ngModel)]="checkout.email">
      </div>
      <div class="col-md-6">
        <p>Confirme seu email:</p>
        <input type="text" class="form-control" placeholder="Confirme seu email">
      </div>
      <section class="container">
        <div class="row">
          <div class="col-md-6">
            <h5>Forma de Pagamento</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Dinheiro
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Cartão de Débito
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Cartão de Crédito
              </label>
            </div>
            <div>
              <div>
                <form class="form-inline" *ngIf="">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Quer pagar quanto?</label>
                  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                    <option selected>Parcelas...</option>
                    <option value="1">1x R$1000,00 sem juros</option>
                    <option value="2">2x R$500,00 sem juros</option>
                    <option value="3">3x R$333,33 sem juros</option>
                  </select>
                </form>
              </div>
              <div>
                <button type="submit" class="btn btn-primary my-1">Agendar</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</section>